/* General Reset */
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Shred Color */
.primari_color {
    color: #FD6E0A;
}

.dark_02_color {
    color: #474747;
}

.btn_primary {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* Header */
header {
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
}

.nav_link {
    display: flex;
    align-items: center;
}

.nav_link li {
    list-style: none;
    margin-right: 50px;
}

.nav_link li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner_contant {
    max-width: 580px;
}

.banner_greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner_title {
    font-size: 85px;
    font-weight: 700;
}


.banner_img img {
    width: 580px;
}