/* General Reset */
* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Shred Color */
.second_bg {
    background: #FFF8F3;
}

.primari_color {
    color: #FD6E0A;
}

.dark_02_color {
    color: #474747;
}

.btn_primary {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section_title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section_desvription {
    color: #757575;
    font-size: 18px;
    text-align: center;
}

.text-contant {
    text-align: center;
}

/* Header */
.header {
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.logo h2 {
    font-size: 45px;
    font-weight: 800;
}

.nav_link {
    display: flex;
    align-items: center;
}

.nav_link li {
    list-style: none;
    margin-right: 50px;
}

.nav_link li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner_contant {
    max-width: 580px;
}

.banner_greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner_title {
    font-size: 85px;
    font-weight: 700;
}


.banner_img img {
    width: 580px;
}

/* Main Style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin: 130px 0;
}

/* About Section */
.about {
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px;
}

.item-description {
    font-weight: 700;
}

.about-items {
    display: flex;
    justify-content: space-around;

}

.about-item p {
    margin-bottom: -10px;
}

/* Skills Section */

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}

.skill-container {
    display: flex;
    gap: 24px;
}

/* Resume Section */
.resume-container {
    display: flex;
    gap: 24px;
}

.resume-column-title {
    font-size: 30px;
    font-weight: 700;
}

.exprience-title {
    font-size: 25px;
    font-weight: 700;
}

.experiance-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.experiance-description {
    color: #757575;
    line-height: 24px;
}

.resume-button {
    margin-top: 50px;
}